.app {
  background-color: #F3ECDC;
  height: 100%;
}

.btn-color {
  background-color: #EE749D;
}

.logo {
  display: block;
  margin: 10% auto 20%;
  height: 40%;
  width: 40%;
  min-width: 150px;
  max-width: 500px;
}

.footer-img {
  width: 100%;
  margin: 30% auto 0;
}
